.App {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.defaultImg {
  position: absolute;
  width: 600px;
  height: auto;
}
.resultImg {
  position: absolute;
  width: 600px;
  height: auto;
}
.origin {
  width: 600px;
  height: auto;
}
